@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

body {
  font-family: 'Roboto', sans-serif;
}

.font-geist {
  font-family: var(--font-geist-sans);
}

.font-geist-mono {
  font-family: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.caveat {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", serif;
  font-optical-sizing: auto;

  font-style: normal;
}

@keyframes border-move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.before\:animate-border-move::before {
  content: "";
  position: absolute;
  inset: -2px;
  background: linear-gradient(90deg, #4BAF47, #C5CE38, #EEC044);
  background-size: 300% 300%;
  border-radius: 10px;
  z-index: -1;
  animation: border-move 3s ease-in-out infinite;
}